/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
day1/ex01/resources/public/js/compiled
day1/ex02/resources/public/js/compiled
day1/ex03/resources/public/js/compiled
figwheel_server.log
day2/ex04/resources/public/js/compiled
day1/ex03/target
